body {
  margin: 0;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  color: #00ff00;
  background: radial-gradient(circle, #000000, #0f0f0f);
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cyber-button {
  background: transparent;
  border: 2px solid #00ff00;
  color: #00ff00;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00;
  transition: box-shadow 0.3s ease-in-out;
}

.cyber-button:hover {
  box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
}

.hello-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3rem;
  margin-left: 350px;
  color: #00ff00;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}
